/** GLOBAL STYLES **/
html, body {
    margin: 0;
    padding: 0;
    width: 100%; /* BODY TAKES ENTIRE SCREEN */
}


/** NAVBAR **/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 10px;
    background-color: black;
}

.nav-logo {
    width: 50px;
    height: 50px;
}


.nav-links {
    display: flex;
    gap: 20px;
}

.navbar a {
    text-decoration: none;
    color: white; 
    transition: color 0.5s ease; 
}

.navbar a:hover {
    color: grey; 
}

/** BODY - MAIN CONTENT **/
.main-content{
    text-align: center;
}


/** FOOTER **/
.footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
}

.social-media-icon-link{
    height: 25px;
    width: 25px;
    margin: 10px 10px 0px 25px;
}

/**BACKGROUNDIMG**/
body {
    margin: 0;
    padding: 0;
    width: 100%; /* BODY TAKES ENTIRE SCREEN */
    background-image: url('/CSCI355-Project1/public/background-img.jpg'); /* Sets the background image */
    background-size: cover; /* Ensures the background covers the entire element */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents the background image from repeating */
}

/** VIDEO CONTAINER **/
.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; /* Adjust as needed */
    padding: 15px; /* Add padding */
    border: 1px solid #ddd; 
    background-color: #f5f5f5; /* Light grey background */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow */
    border-radius: 15px; /* Optional: rounds the corners of the box */
    overflow: hidden; /* Ensures the video corners are also rounded */
    max-width: 1300px; /* Maximum width of the video container */
    width: 100%; /* Ensures it takes up 100% of the max-width */
    margin-left: auto; /* Centers the container */
    margin-right: auto; /* Centers the container */
    position: relative;
}

.video-container video {
    width: 100%; /* Makes the video responsive within the container */
    display: block; /* Removes any extra space at the bottom of the video */
    height: auto; /* Maintains aspect ratio while resizing */
}

.video-description {
    position: absolute; /* Position over the video */
    top: 83%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Offset the position by half its width and height */
    color: white; /* Change text color to white or any color that makes it visible over the video */
    text-align: center;
    width: 100%; /* Set to the width of the video container */
    padding: 0 20px; /* Add some padding on sides if needed */
}

.video-description p {
    margin: 0;
    padding: 5px;
    font-size: 1em; /* Adjust as needed */
    font-family: sans-serif;
    font-weight: 700; /* Makes the text bold */
    overflow: hidden; /* Ensures the content is clipped */
    border-right: .15em solid white; /* The cursor */
    white-space: nowrap; /* Keeps the text on a single line */
    border-right: .15em solid white;
    width: 100%; /* Start with zero width */
    display: inline-block; /* Makes the <p> tag behave like an inline element */
    max-width: 100%; /* Ensures the text doesn't go beyond its container */
    box-sizing: border-box; 
    animation: typing 3.5s steps(50, end) forwards, blink-caret .75s step-end 0.3s forwards;
   
}

.support-button {
    background-color: rgba(0,0,0,0.7);
    font-family: 'Roboto', sans-serif;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px; /* Optional: rounds the corners of the button */
    text-decoration: none; /* Removes underline */
    display: inline-block; /* Aligns the button correctly */
}

.support-button:hover {
    background-color: #555; /* Darken button on hover */
}

/** Make sure video looks good on all devices **/
@media (max-width: 768px) {
    .video-container video {
        width: 95%;
    }
}
/* Typing animation for the description */
@keyframes typing {
    from { width: 0; }
    to { width: 70%; }
}

@keyframes blink-caret {
    0%, 100% { border-color: transparent; }
    50% { border-color: white; }
}
#background-video {
    pointer-events: none; /* Prevents interaction with the video */
    width: 100%; /* Adjust based on your design */
    max-width: none; /* Overrides any max-width */
}
/* Carousel Container - Reuse styles from .video-container */
.carousel-container {
    /* Same styles as .video-container */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden;
    max-width: 500px;
    height: 500px;
    position: relative;
    width: 100%;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.carousel-slide {
    display: flex;
    flex-wrap: nowrap; /* Prevent wrapping of items */
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.carousel-slide img {
    max-width: 100%;
    display: block;
    scroll-snap-align: start;
    flex-shrink: 0;
    flex: 0 0 auto;
    width: 100%;
    height: auto;
}

.carousel-slide img {
    max-width: 100%;
    display: block;
    width: 100%; /* Adjust as needed */
    transition: transform 0.5s ease-in-out;
}

.carousel-navigation .prev,
.carousel-navigation .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 36px; /* Increase the size for better visibility */
    color: black; /* Change color for contrast */
    background-color: rgba(255, 255, 255, 0.5); /* Add a semi-transparent background */
    padding: 10px; /* Add some padding */
    border-radius: 50%; /* Optional: makes the arrows circular */
    z-index: 10;
}

.carousel-navigation .prev { left: 15px; }
.carousel-navigation .next { right: 15px; }

.browse-catalog {
    font-family: 'Roboto', sans-serif; /* Or any other modern font */
    color: #ffffff; /* Choose a color that stands out against your carousel background */
    background-color: rgba(0, 0, 0, 0.5); /* Transparent black background */
    letter-spacing: 1px; /* More letter-spacing makes it look modern */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 25px; /* Rounded edges */
    text-decoration: none; /* Remove underline */
    font-weight: bold;
    position: absolute; /* Position it within the carousel container */
    bottom: 20px; /* Distance from the bottom */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center alignment trick */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    z-index: 10; /* Ensure it's above the images */
}

.browse-catalog:hover {
    background-color: rgba(0, 0, 0, 0.7); /* Slightly darker on hover */
}

