/** GLOBAL STYLES **/
html,
body {
  margin: 0;
  padding: 0;
  width: 100%; /* BODY TAKES ENTIRE SCREEN */
  background-image: URL("../public/background-img.jpg");
}

/** NAVBAR **/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 10px;
  background-color: black;
}

.nav-logo {
  width: 50px;
  height: 50px;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.navbar a {
  text-decoration: none;
  color: black;
  transition: color 0.5s ease;
  color: white;
}

.navbar a:hover {
  color: grey;
}

/** BODY - MAIN CONTENT **/
.main-content h1 {
  font-family: 'Roboto', sans-serif; /* Uses the Roboto font for a clean look */
  text-align: center;
  font-size: 2.5rem; /* Increases the size to make it a focal point */
  color: #fff; /* Changes the text color to white for contrast against the dark background */
  text-transform: uppercase; /* Capitalizes all letters for impact */
  letter-spacing: 5px; /* Spaces out the letters for a refined appearance */
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5); /* Adds a subtle shadow for depth */
  margin-bottom: 2rem; /* Adds space below the title */
}

/** FORM MODERN STYLING **/
.form-container {
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

#contact-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 1rem;
  position: relative;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  color: #333;
  text-align: left;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 0.5rem;
  transition: border-color 0.3s;
}

.form-group input:focus,
.form-group textarea:focus {
  outline: none;
  border-color: #3498db;
}

.form-group span.wave-animation {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #3498db;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s;
}

.form-group input:focus + span.wave-animation,
.form-group textarea:focus + span.wave-animation {
  transform: scaleX(1);
}

.submit-btn {
  padding: 1rem;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: #2980b9;
}
/** FOOTER **/
.footer {
  position: fixed; /** FIX POSITION AT THE BOTTOM OF THE PAGE */
  bottom: 0;
  left: 0;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  width: 100%;
}

.social-media-icon-link {
  height: 25px;
  width: 25px;
  margin: 10px 10px 0px 25px;
}
