/** GLOBAL STYLES **/
html, body {
    margin: 0;
    padding: 0;
    width: 100%; /* BODY TAKES ENTIRE SCREEN */
    background-image: url('/public/bkgrndimg.jpg');
    background-size: cover; 
    background-position: center; 
}


/** NAVBAR **/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 10px;
    background-color: black;
}

.nav-logo {
    width: 50px;
    height: 50px;
}


.nav-links {
    display: flex;
    gap: 20px;
}

.navbar a {
    text-decoration: none;
    color: white; 
    transition: color 0.5s ease; 
}

.navbar a:hover {
    color: grey; 
}

/** BODY - MAIN CONTENT **/
.main-content{
    text-align: center;
    margin-bottom: 10px;
}
h1 {
    text-align: center;
    font-family: 'Arial', sans-serif; /* Modern, clean font */
    color: white; /* Dark grey color for better readability */
    text-shadow: 2px 2px 4px rgba(0,0,0,0.1); /* Subtle shadow for depth */
    letter-spacing: 1px; /* Space out letters slightly */
    font-weight: bold; /* Bold font weight */
    margin-top: 20px; /* Add space above the title */
    margin-bottom: 20px; /* Add space below the title */
}


/** Product page **/
/* Container for the grid */
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    justify-content: center; 
    align-content: center; 
    padding: 20px; 
    margin: auto; 
    width: 900px;
}


/* Styling for each grid item */
.item {
    border: 1px solid #ccc; /* Border around each item */
    padding: 10px; /* Padding inside each item */
    text-align: center; /* Center align text */
    background-color: #f9f9f9; /* Background color of each item */
}

/* Style for product name */
.item h2 {
    margin: 0; /* Remove default margin */
    font-size: 18px; /* Font size of product name */
}

/* Style for product description */
.item p {
    margin: 5px 0; /* Margin for spacing */
    font-size: 14px; /* Font size of description */
}

/* Style for price */
.item .price {
    font-weight: bold; /* Bold font for price */
}

/* Style for availability */
.item .availability {
    color: #007bff; /* Color for availability status */
}

/* Limit size of images */
.item img {
    max-width: 100%; /* Limit image width to 100% of parent container */
    max-height: 150px; /* Limit image height to 150 pixels */
}


/** FOOTER **/
.footer {
    position: fixed; /** FIX POSITION AT THE BOTTOM OF THE PAGE */
    bottom: 0;
    left: 0;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
  }

.social-media-icon-link{
    height: 25px;
    width: 25px;
    margin: 10px 10px 0px 25px;
}
