/** GLOBAL STYLES **/
html, body {
    margin: 0;
    padding: 0;
    width: 100%; /* BODY TAKES ENTIRE SCREEN */
    background-image: url('/public/bkgrndimg.jpg');
    background-size: cover; 
    background-position: center; 
}


/** NAVBAR **/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 10px;
    background-color: black;
}

.nav-logo {
    width: 50px;
    height: 50px;
}


.nav-links {
    display: flex;
    gap: 20px;
}

.navbar a {
    text-decoration: none;
    color: white; 
    transition: color 0.5s ease; 
}

.navbar a:hover {
    color: grey; 
}

/** BODY - MAIN CONTENT **/
.main-content{
    text-align: center;
    margin-bottom: 10px;
}
h1 {
    text-align: center;
    font-family: 'Arial';
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.1); /* adds a shadow to text */
    letter-spacing: 1px; 
    font-weight: bold; 
    margin-top: 20px; 
    margin-bottom: 20px;
}


/** Product page **/
/* Container for the grid */
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* sets # of columns*/
    gap: 20px; 
    justify-content: center; 
    align-content: center; 
    padding: 20px; 
    margin: auto; 
    width: 900px;
}


/* Styling for each grid item */
.item {
    border: 1px solid #ccc; /* Border set to grey*/
    padding: 10px; 
    text-align: center; 
    background-color: #f9f9f9; /* Background color set to white*/
}

/* Style for product name */
.item h2 {
    margin: 0; 
    font-size: 18px; 
}

/* Style for product description */
.item p {
    margin: 5px 0; 
    font-size: 14px; 
}

/* Style for price */
.item .price {
    font-weight: bold; 
}

/* Style for availability */
.item .availability {
    color: #007bff; /* sets availability color to blue */
}

/* Limit size of images */
.item img {
    max-width: 100%; 
    max-height: 150px; 
}


/** FOOTER **/
.footer {
    position: fixed; /** FIX POSITION AT THE BOTTOM OF THE PAGE */
    bottom: 0;
    left: 0;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
  }

.social-media-icon-link{
    height: 25px;
    width: 25px;
    margin: 10px 10px 0px 25px;
}
